In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from implementations import *
from IPython.core.display import display
import warnings


warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

qm = QueryManager('test_keyspace')
semesters = qm.semesters

C:\Users\egeal\AppData\Local\Temp\ipykernel_5348\2658742202.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display

Session is ready.

In [3]:
dep_name = input('Enter the department name in Turkish:')
dep_code = qm.dep_name_to_code[dep_name]

In [4]:
selected_dfs = {}
for semester in semesters:
    semester_grades = qm.select(dep_code, semester).sort_values(by='gpa', ascending=False, ignore_index=True).head(5)
    semester_grades['reg_year'] = semester_grades['reg_year'].astype(np.int32)
    selected_dfs[semester] = semester_grades

### I. 2019-2020 Fall

In [5]:
display(selected_dfs['19fall'])

  dep_code semester   student_id   gpa  reg_year     student_name
0     0602   19fall  20170602025  4.00      2017     OĞUZ SABİTAY
1     0602   19fall  20180602026  3.91      2018  İLKER ATA ŞAHİN
2     0602   19fall  20190602002  3.90      2019       EGE ALTIOK
3     0602   19fall  20190602023  3.73      2019       YİĞİT İNAN
4     0602   19fall  20190602011  3.70      2019       CEM CEYLAN

### II. 2019-2020 Spring

In [6]:
display(selected_dfs['19spring'])

  dep_code  semester   student_id   gpa  reg_year  student_name
0     0602  19spring  20190602018  3.79      2019   FERDA GÜNEŞ
1     0602  19spring  20150602027  3.74      2015   CANSU ÖZKAN
2     0602  19spring  20180602019  3.68      2018    EFE KAYLAK
3     0602  19spring  20160602004  3.65      2016  MELİKE BİLEN
4     0602  19spring  20190602022  3.65      2019      ECE IŞIK

### III. 2020-2021 Fall

In [7]:
display(selected_dfs['20fall'])

  dep_code semester   student_id   gpa  reg_year         student_name
0     0602   20fall  20170602025  4.00      2017         OĞUZ SABİTAY
1     0602   20fall  20200602014  3.90      2020  FATMA MELİKE BUYRUK
2     0602   20fall  20170602016  3.90      2017           ARDA GÜNAY
3     0602   20fall  20200602035  3.88      2020  KUTSAL BARAN ÖZKURT
4     0602   20fall  20160602004  3.87      2016         MELİKE BİLEN

### IV. 2020-2021 Spring

In [8]:
display(selected_dfs['20spring'])

  dep_code  semester   student_id   gpa  reg_year       student_name
0     0602  20spring  20180602018  4.00      2018  ZEYNEP BETÜL KAYA
1     0602  20spring  20170602025  4.00      2017       OĞUZ SABİTAY
2     0602  20spring  20170602016  3.95      2017         ARDA GÜNAY
3     0602  20spring  20180602029  3.91      2018       BERKER UĞRAŞ
4     0602  20spring  20190602022  3.73      2019           ECE IŞIK

### V. 2021-2022 Fall

In [9]:
display(selected_dfs['21fall'])

  dep_code semester   student_id   gpa  reg_year       student_name
0     0602   21fall  20210602014  4.00      2021         EFE BOYACİ
1     0602   21fall  20180602018  3.91      2018  ZEYNEP BETÜL KAYA
2     0602   21fall  20200602020  3.90      2020         EMRE DÜLEK
3     0602   21fall  20200602026  3.90      2020         BERKE IŞIK
4     0602   21fall  20200602033  3.90      2020          KAAN ÖZER