In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from implementations import *
from IPython.display import display
import warnings


warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

qm = QueryManager('test_keyspace')
semesters = qm.semesters

Session is ready.

In [3]:
dep_name = input('Enter the department name in Turkish:')
dep_code = qm.dep_name_to_code[dep_name]

Input = <a style='color:darkgreen;font-size:13px;background-color:lightgray;
font-family:Consolas;padding:2px'>Bilgisayar Mühendisliği</a> is given.

In [4]:
selected_dfs = {}
for semester in semesters:
    semester_grades = qm.select(dep_code, semester).head(5)
    selected_dfs[semester] = semester_grades

### I. 2019-2020 Fall

In [5]:
display(selected_dfs['19fall'])

      student_name   gpa
0     OĞUZ SABİTAY  4.00
1  İLKER ATA ŞAHİN  3.91
2       EGE ALTIOK  3.90
3       YİĞİT İNAN  3.73
4       CEM CEYLAN  3.70

### II. 2019-2020 Spring

In [6]:
display(selected_dfs['19spring'])

   student_name   gpa
0   FERDA GÜNEŞ  3.79
1   CANSU ÖZKAN  3.74
2    EFE KAYLAK  3.68
3  MELİKE BİLEN  3.65
4      ECE IŞIK  3.65

### III. 2020-2021 Fall

In [7]:
display(selected_dfs['20fall'])

          student_name   gpa
0         OĞUZ SABİTAY  4.00
1  FATMA MELİKE BUYRUK  3.90
2           ARDA GÜNAY  3.90
3  KUTSAL BARAN ÖZKURT  3.88
4         MELİKE BİLEN  3.87

### IV. 2020-2021 Spring

In [8]:
display(selected_dfs['20spring'])

        student_name   gpa
0  ZEYNEP BETÜL KAYA  4.00
1       OĞUZ SABİTAY  4.00
2         ARDA GÜNAY  3.95
3       BERKER UĞRAŞ  3.91
4           ECE IŞIK  3.73

### V. 2021-2022 Fall

In [9]:
display(selected_dfs['21fall'])

        student_name   gpa
0         EFE BOYACİ  4.00
1  ZEYNEP BETÜL KAYA  3.91
2         EMRE DÜLEK  3.90
3         BERKE IŞIK  3.90
4          KAAN ÖZER  3.90