In [29]:
%autoreload 2

In [37]:
from implementations import *
from IPython.core.display import display
import warnings


warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

qm = QueryManager('test_keyspace')
semesters = qm.semesters

Session is ready.

In [31]:
selected_dfs = {}
for semester in semesters:
    semester_grades = qm.select('0602', semester).sort_values(by='gpa', ascending=False, ignore_index=True).head(10)
    semester_grades['reg_year'] = semester_grades['reg_year'].astype(np.int32)
    selected_dfs[semester] = semester_grades

## Computer Engineering

### I. 2019-2020 Fall

In [32]:
display(selected_dfs['19fall'])

  dep_code semester   student_id   gpa  reg_year            student_name
0     0602   19fall  20170602025  4.00      2017            OĞUZ SABİTAY
1     0602   19fall  20180602026  3.91      2018         İLKER ATA ŞAHİN
2     0602   19fall  20190602002  3.90      2019              EGE ALTIOK
3     0602   19fall  20190602023  3.73      2019              YİĞİT İNAN
4     0602   19fall  20190602011  3.70      2019              CEM CEYLAN
5     0602   19fall  20190602039  3.65      2019  FURKAN ZEKİ TÜRKZEYBEK
6     0602   19fall  20190602022  3.65      2019                ECE IŞIK
7     0602   19fall  20190602015  3.65      2019             KEMAL DOĞAN
8     0602   19fall  20180602018  3.56      2018       ZEYNEP BETÜL KAYA
9     0602   19fall  20160602013  3.47      2016               UTKU IŞIL

### II. 2019-2020 Spring

In [33]:
display(selected_dfs['19spring'])

  dep_code  semester   student_id   gpa  reg_year             student_name
0     0602  19spring  20190602018  3.79      2019              FERDA GÜNEŞ
1     0602  19spring  20150602027  3.74      2015              CANSU ÖZKAN
2     0602  19spring  20180602019  3.68      2018               EFE KAYLAK
3     0602  19spring  20160602004  3.65      2016             MELİKE BİLEN
4     0602  19spring  20190602022  3.65      2019                 ECE IŞIK
5     0602  19spring  20160602021  3.63      2016            DORUK MALTEPE
6     0602  19spring  20190602009  3.62      2019             EDANUR BEDER
7     0602  19spring  20150602035  3.58      2015        CANBERK KAHYAOĞLU
8     0602  19spring  20160602072  3.57      2016               ARİF AKKAŞ
9     0602  19spring  20190602020  3.56      2019  MÜNEVVER İREM HATİPOĞLU

### III. 2020-2021 Fall

In [34]:
display(selected_dfs['20fall'])

  dep_code semester   student_id   gpa  reg_year         student_name
0     0602   20fall  20170602025  4.00      2017         OĞUZ SABİTAY
1     0602   20fall  20200602014  3.90      2020  FATMA MELİKE BUYRUK
2     0602   20fall  20170602016  3.90      2017           ARDA GÜNAY
3     0602   20fall  20200602035  3.88      2020  KUTSAL BARAN ÖZKURT
4     0602   20fall  20160602004  3.87      2016         MELİKE BİLEN
5     0602   20fall  20160602010  3.84      2016            ALİ GİLİM
6     0602   20fall  20190602003  3.80      2019        BEYZA ALTUNER
7     0602   20fall  20200602031  3.78      2020         ARDA KESTANE
8     0602   20fall  20160602013  3.77      2016            UTKU IŞIL
9     0602   20fall  20200602022  3.68      2020           EMRE EVCİN

### IV. 2020-2021 Spring

In [35]:
display(selected_dfs['20spring'])

  dep_code  semester   student_id   gpa  reg_year       student_name
0     0602  20spring  20180602018  4.00      2018  ZEYNEP BETÜL KAYA
1     0602  20spring  20170602025  4.00      2017       OĞUZ SABİTAY
2     0602  20spring  20170602016  3.95      2017         ARDA GÜNAY
3     0602  20spring  20180602029  3.91      2018       BERKER UĞRAŞ
4     0602  20spring  20190602022  3.73      2019           ECE IŞIK
5     0602  20spring  20160602021  3.69      2016      DORUK MALTEPE
6     0602  20spring  20190602002  3.63      2019         EGE ALTIOK
7     0602  20spring  20160602031  3.63      2016       ATAHAN TANIŞ
8     0602  20spring  20190602019  3.44      2019     GİZEM HACIOĞLU
9     0602  20spring  20200602020  3.44      2020         EMRE DÜLEK

### V. 2021-2022 Fall

In [36]:
display(selected_dfs['21fall'])

  dep_code semester   student_id   gpa  reg_year         student_name
0     0602   21fall  20210602014  4.00      2021           EFE BOYACİ
1     0602   21fall  20180602018  3.91      2018    ZEYNEP BETÜL KAYA
2     0602   21fall  20200602020  3.90      2020           EMRE DÜLEK
3     0602   21fall  20200602026  3.90      2020           BERKE IŞIK
4     0602   21fall  20200602033  3.90      2020            KAAN ÖZER
5     0602   21fall  20200602045  3.87      2020      OĞUZ KAAN TAVUR
6     0602   21fall  20180602004  3.84      2018         BERK BALYURT
7     0602   21fall  20200602041  3.83      2020    HİLAL SİNEM SAYAR
8     0602   21fall  20200602039  3.83      2020  NESİBE NUR PEKÇAKAR
9     0602   21fall  20200602050  3.80      2020    TARIK TANER UYGÜL